@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Address Book Application</h3>

<p>This application was created to demonstrate skills upon applying for a placement.</p><br />
<p>It allows users to enter pages of data which are then stored in a local database.</p><br />
<p>The data can then be viewed in a table, separated into pages of 10 entries. </p><br />
<p>Each line can then be edited or deleted, each respectively updating the database.</p><br />
<p>The data is ordered by forename.</p>
