@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Email:<a href="mailto:jack.pdove98@gmail.com">jack.pdove98@gmail.com</a> <br />
    Code available at: <a href="https://github.com/lil-dovey98/AddressBookApplication"> https://github.com/lil-dovey98/AddressBookApplication </a>
    
</address>

